        .myul {
	position: relative;
	
	overflow: auto;
	padding-top: 4px;
	padding-bottom: 4px;
	color: black;
}

.myul>li {
	font-size: 20px;
	position: relative;
	display: block;
	float: left;
	height: 50px;
	margin: 2px;
	padding-left: 4px;
	padding-right: 4px;
	border: 1px solid #5FB878;
	background-color: #01AAED;
}

.myul>li>span {
	display: none;
	width:20px;
	height:20px;
	line-height:20px;
	text-align: center;
	background-color:rgba(251, 213, 213, 0.8);
	border-radius:20px;
	position: absolute;
	cursor: pointer;
	top: 0;
	right: 0;
}

.myul>li>p {
	color:#242424;
	line-height: 50px;
}